In [10]:
import pandas as pd

path = "C:\\Users\\ginok\\Documents\\Digital Driven Business\\Database management\\metaCleanV1 - kopie.xlsx"

df = pd.read_excel(path)

df2 = pd.DataFrame(df['director'])

df2

                   director
0      Lynn Hershman-Leeson
1          Dan Trachtenberg
2           Brad Silberling
3              Jamie Linden
4           Cameron Cairnes
...                     ...
11359           Ben Stiller
11360          Peter Hewitt
11361         Pedro Morelli
11362          Byron Howard
11363    Paula van der Oest

[11364 rows x 1 columns]

In [11]:
df2 = df2.drop_duplicates()

In [12]:
df2 = df2.reset_index(drop= True)

In [13]:
#add an Id number to each director using the index +1
df2['Director_ID'] = df2.index + 1

In [14]:
#reorder the columns so the Director_ID (primary key) is the first column
df2 = df2 [['Director_ID', 'director']]

In [15]:
#Save the Dataframe with the Director and Director_ID to a .csv file for future use in the database
df2.to_csv('movieID.csv', index= False)