In [138]:
import pandas as pd
import re

In [139]:
#Load the metaClean data into a dataframe
df = pd.read_excel("C:\\Users\\ginok\\Downloads\\metaClean43Brightspace.xlsx")

In [140]:
#Load the Sales data into a dataframe 
df2 = pd.read_excel("C:\\Users\\ginok\\Downloads\\sales.xlsx")

In [141]:
#Removing the URL part before the moviename
df['newUrl'] = df['url'].str.split("/", expand = True)[:][4]
df2['newUrl'] = df2['url'].str.split("/", expand = True)[:][4]

In [142]:
#Remove the years in parentheses from the movie names
pattern = r'\(\d{4}\)'

df['newUrl'] = df['newUrl'].apply(lambda x: re.sub(pattern, '', x))
df2['newUrl'] = df2['newUrl'].apply(lambda x: re.sub(pattern, '', x))

In [143]:
#Remove the hyphens from the movie names
df['newUrl'] = df['newUrl'].apply(lambda x: re.sub("-", '', x))
df2['newUrl'] = df2['newUrl'].apply(lambda x: re.sub("-", '', x))

In [144]:
#Convert every movie name to lowercase
df['newUrl'] = df['newUrl'].str.lower()
df2['newUrl'] = df2['newUrl'].str.lower()

In [145]:
#Creating new dataframes from the newUrl and genre columns 
df3 = df[['newUrl','genre']]
df4 = df2[['newUrl','genre']]

In [146]:
#Splitting all elements from the genre column into a list in the genre_name column
df3["genre_name"] = df3["genre"].str.split(",")

C:\Users\ginok\AppData\Local\Temp\ipykernel_5832\3212421567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["genre_name"] = df3["genre"].str.split(",")

In [147]:
#Extracting each value from the list into its own row
df3 = df3.explode("genre_name")

In [148]:
#Dropping the genre column
df3 = df3.drop('genre', axis=1)

In [149]:
#Rename the column to genre so it will be the same as the other dataframe
df3 = df3.rename(columns={'genre_name': 'genre'})

In [150]:
#concatenate both the dataframes 
df5 = pd.concat([df3, df4])

In [151]:
#Removing any duplicate rows
df5 = df5.drop_duplicates()

In [152]:
#Loading the genre_id file into a new dataframe
df6 = pd.read_csv("C:\\Users\\ginok\\Documents\\Digital Driven Business\\Database management\\Genre_ID.csv")

In [153]:
#Merge the dataframe containing the movies with genre names with the dataframe with genre ID's
merged_df1 = df5.merge(df6, left_on='genre', right_on='Genre_name')

In [154]:
#Loading in the movie_id file into a new dataframe
df7 = pd.read_csv("C:\\Users\\ginok\\Documents\\Digital Driven Business\\Database management\\movieID.csv")

In [155]:
#Merging the merged dataframe with the dataframe containing the movie_ID's
merged_df2 = merged_df1.merge(df7, left_on='newUrl', right_on='ShortenedURL')
merged_df2

,newUrl,genre,Unnamed: 0,Genre_ID,Genre_name,ShortenedURL,movieID
0,!womenartrevolution,Documentary,9,10,Documentary,!womenartrevolution,1
1,11816,Documentary,9,10,Documentary,11816,64
2,121212,Documentary,9,10,Documentary,121212,78
3,121212,Concert/Performance,7,8,Concert/Performance,121212,78
4,12oclockboys,Documentary,9,10,Documentary,12oclockboys,89
...,...,...,...,...,...,...,...
48896,fienenteunhetgrotedierenfeest(2021netherlands),Educational,11,12,Educational,fienenteunhetgrotedierenfeest(2021netherlands),10170
48897,pyaarkapunchnama2,Reality,22,23,Reality,pyaarkapunchnama2,23940
48898,principlethe,Reality,22,23,Reality,principlethe,23683
48899,holyghost,Reality,22,23,Reality,holyghost,13242
48900,benpaobaxiongdi(china),Reality,22,23,Reality,benpaobaxiongdi(china),3587

In [156]:
#Drop the necessary columns from the merged dataframe
merged_df2 = merged_df2.drop(columns=['ShortenedURL', 'Unnamed: 0','newUrl', 'genre'])

In [157]:
#Export the Has_genre.csv file for further use in the database
merged_df2.to_csv('Has_genre.csv', index=False)