In [2]:
import pandas as pd
import re

In [3]:
#Load the metaClean data into a dataframe
df = pd.read_excel("C:/Users/olavr/Documents/Studie/MDDB/DDB management/metaClean43Brightspace.xlsx")

In [4]:
#Removing the URL part before the movie name
df['newUrl'] = df['url'].str.split("/", expand = True)[:][4]

In [5]:
#Remove the years in parentheses from the movie names
pattern = r'\(\d{4}\)'

df['newUrl'] = df['newUrl'].apply(lambda x: re.sub(pattern, '', x))

In [6]:
#Remove the hyphens from the movie names
df['newUrl'] = df['newUrl'].apply(lambda x: re.sub("-", '', x))

In [7]:
#Convert every movie name to lowercase
df['newUrl'] = df['newUrl'].str.lower()

In [8]:
#Creating a new dataframe from the newUrl and cast columns 
df2 = df[['newUrl','cast']]

In [9]:
#Splitting all elements from the cast column into a list in the actor column
df2["actor"] = df2["cast"].str.split(",")

C:\Users\olavr\AppData\Local\Temp\ipykernel_11648\3312825134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["actor"] = df2["cast"].str.split(",")

In [10]:
#Extracting each value from the list into its own row
df2 = df2.explode("actor")

In [11]:
#Dropping the cast column
df2 = df2.drop('cast', axis=1)

In [13]:
#Loading in the movie_id file into a new dataframe
df3 = pd.read_csv("C:/Users/olavr/Documents/Studie/MDDB/DDB management/Python/MovieID.csv")

In [14]:
#Merging the movieID dataframe with the actors dataframe
merged_df1 = df2.merge(df3, left_on='newUrl', right_on='ShortenedURL')

In [15]:
#Loading in the Actor_id file into a new dataframe
df4 = pd.read_csv("C:/Users/olavr/Documents/Studie/MDDB/DDB management/Python/Actor_ID.csv")

In [16]:
#Dropping unnecessary columns 
merged_df1 = merged_df1.drop(columns=['ShortenedURL', 'DeduplicatedMovieNames', 'newUrl'])

       Actor_ID                   actors
0             1       John Gallagher Jr.
1             2             John Goodman
2             3  Mary Elizabeth Winstead
3             4               Jonah Hill
4             5           Morgan Freeman
...         ...                      ...
24857     24858          Ninon FranÃ§ois
24858     24859        Patrick Boucheron
24859     24860          Sayyid El Alami
24860     24861         Wislanda Louimat
24861     24862            Victoria Hall

[24862 rows x 2 columns]

In [17]:
#Merging the dataframes containing the actor ID and the movie ID 
merged_df2 = df4.merge(merged_df1, left_on='actors', right_on='actor')

In [18]:
#Dropping the actors and actor columns. Leaving only the Movie_ID and the Actor_ID
merged_df2 = merged_df2.drop(columns=['actors', 'actor'])

In [19]:
merged_df2.to_csv('Has_actor.csv', index=False)